<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>regist</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="style/style.css"/>		
		<script src="js/script.js"></script>
	</head>
	<body>
		<div id="wrap">
			
			<div id="slogon">
				<img src="img/SampleLogSm.jpg" alt="SampleLog" width="200px" height="45px">
			</div>
			
			<div id="navigate">	
				<span id="nowtime"></span>
			</div>
			
			<div class="container">
				<div class="image">
		            <img src="img/carWhiteLinePrin.jpg" alt="SampleLog" width="500px" >
		        </div>
		        
		        <div id="content">
					<h1>
					管理者新規
					</h1>
					<div style="height: 20px;">
						<h3 style="color: red;margin: 5px;"><span th:text="${param.msg}"></span></h3> 
					</div>
					
					<form th:action="@{/admin/register}" method="post" class="table-form">
						<table cellpadding="5px" cellspacing="0" border="0" >
							<tr>
								<td valign="middle" align="right">
									ユーザー名:									
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="adminname"  />	
								</td>
							</tr>								
							<tr>							
								<td valign="middle" align="right">
									名前:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="realname"  />
								</td>
							</tr>							
							<tr>
								<td valign="middle" align="right">
									パスワード:
								</td>
								<td valign="middle" align="left">
									<input type="password" class="inputgri" name="password" />
								</td>
							</tr>		
							<tr>
								<td valign="middle" align="right">
									性別:
								</td>
								<td valign="middle" align="left">
									男
									<input type="radio" class="inputgri"  name="gender" value="1" checked="checked"/>
									女
									<input type="radio" class="inputgri" name="gender"  value="0"/>
								</td>
							</tr>							
							<tr>
								<td style="font-size: 15px;">
									検証コード:	
								</td>	
								<td valign="middle" align="left">
									<input type="text" name="code" class="inputgri" />
								</td>	
							</tr>
							<tr>
								<td>
								</td>
								<td>
									<img id="num" th:src="@{/admin/generateImageCode}" />	
								</td>
							</tr>
							<tr>
								<td>									
								</td>
								<td>			
									<a href="javascript:;" onclick="changeImageCode()">コード変換する</a>
									<script>
										function changeImageCode(){
											document.getElementById('num').src='[[@{/admin/generateImageCode}]]?'+(new Date()).getTime()
										}
									</script>
								</td>
							</tr>
						</table>
						<p>
							<input type="submit" class="button" value="提出する &raquo;" />
						</p>
					</form>
				</div>
			
			
			</div>
			<div style="text-align: center;">			
				<br>
				<hr>
				ABC@126.com
				</div>
			</div>
		<script>
			const nowtime = document.querySelector('#nowtime')
			setInterval(() => {
				nowtime.innerHTML = getTime()
			  }, 1000) 
		</script>
	</body>
</html>
